<nav class="navbar navbar-expand-lg bg-dark navbar-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Shop Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link <%= url === "/" ? "active" : "" %>" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= url === "/products" ? "active" : "" %>" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= url === "/categories" ? "active" : "" %>" href="/categories">Categories</a>
        </li>
      </ul>
      <div class="navbar-nav">
        <div class="nav-item">
          <a class="nav-link position-relative <%= url === "/cart" ? "active" : "" %>" href="/cart">Cart
            [<%= cartLength %>]
            <!-- <span
              class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-danger"><%= cartLength %><span
                class="visually-hidden">unread messages</span>
            </span> -->
          </a>
        </div>
        <% if (user) { %>
        <div class="nav-item">
          <a class="nav-link <%= url === "/menu" ? "active" : "" %>" href="/menu">Account</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </div>
        <% } else { %>
        <div class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>