<!-- Uses the boilerplate template to prevent code repetition and improve consistency -->
<% layout("layouts/boilerplate") %>
<!-- Creates a form where the user can edit their search or search for a different product -->
<form action="/searchproduct" method="GET" class="mb-5 needs-validation" novalidate>
    <div class="form-group row mb-3">
        <label for="query" class="col-form-label col-sm-2">Search:</label>
        <div class="col-sm-8">
            <input type="text" name="query" id="query" class="form-control" placeholder="Search..." value="<%= query %>"
                required>
            <div class="invalid-feedback">
                Please enter some text
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary form-control">Search</button>
        </div>
    </div>
</form>
<div class="row">
    <!-- Displays a message if no products have been found -->
    <% if (result.length === 0) { %>
    <p class="lead">No products found! Please refine your search query</p>
    <% } else { %>
    <!-- Loops through the products that were found and displays them -->
    <% for (let item of result) { %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-5 align-center">
        <div class="card h-100">
            <!-- Shows an image if there is one on the product -->
            <% if (item.product.images[0]) { %>
            <img src="<%= item.product.images[0] %>" class="card-img-top">
            <% } %>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title mt-auto">
                    <%= item.product.name %>
                </h5>
                <!-- Checks if there's a discount and formats the price correctly -->
                <% if (item.product.discount) { %>
                <b><s
                        style="color: red;">£<%= item.product.price.toLocaleString("en", {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></s></b>
                <h6><b>£<%= item.product.discountedPrice.toLocaleString("en", {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></b>
                </h6>
                <% } else { %>
                <h6><b>£<%= item.product.price.toLocaleString("en", {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></b>
                </h6>
                <% } %>
                <!-- Uses the brief description if one exists or the full description -->
                <p class="card-text">
                    <%= item.product.briefDescription || item.product.description %>
                </p>
                <!-- Routes the links to the show page and the add to cart button -->
                <a href="/products/<%= item.product.id %>" class="btn btn-outline-primary mb-3">View</a>
                <a href="/cart/add/<%= item.product.id %>?redirect=<%= url %>"
                    class="btn btn-outline-primary <%=item.product.stock <= 0 ? 'disabled' : '' %>"><%=item.product.stock <= 0 ? "Out of Stock"
                                                            : "Add to Cart" %></a>
            </div>
        </div>
    </div>
    <% } %>
    <% } %>
</div>