<% layout("layouts/boilerplate") %>
<div class="d-flex justify-content-between">
    <a href="javascript:window.history.back()" class="btn btn-danger mb-5">Return to Products</a>
</div>
<div class="order-info pb-5">
    <div class="row">
        <h1 class="col"><%= product.name %></h1>
    </div>
    <div class="row">
        <p class="col">
            <% if (product.discount) { %>
                <b><s style="color: red;">£<%= product.price %></s></b>
                <h6><b>£<%= product.discountedPrice %></b></h6>
            <% } else { %>
                <h6><b>£<%= product.price %></b></h6>
            <% } %>
        </p>
    </div>
    <div class="row">
        <p class="col"><%= product.description %></p>
    </div>
    
    <div class="row">
        <a href="/cart/add/<%= product.id %>" class="btn btn-success <%=product.stock <= 0 ? 'disabled' : '' %>"><%=product.stock <= 0 ? "Out of Stock"
            : "Add to Cart" %></a>
    </div>
</div>