<!-- Uses the boilerplate template to prevent code repetition and improve consistency -->
<% layout("layouts/boilerplate") %>
<div class="d-flex justify-content-between">
    <!-- Goes back in the history as page can either be viewed manually, or through viewing a customer -->
    <a href="javascript:window.history.back()" class="btn btn-danger mb-5">Return to Orders</a>
</div>
<!-- Displays the order id -->
<h2 class="display-5">Order #<%= order.id %>
</h2>
<!-- Displays all the information relating to the user -->
<div class="user-info">
    <h3>Customer Info</h3>
    <div class="row">
        <p class="col-sm-2">Name:</p>
        <p class="col-sm-10">
            <%= order.userId.name %>
        </p>
    </div>
    <div class="row">
        <p class="col-sm-2">Email:</p>
        <p class="col-sm-10">
            <%= order.userId.email %>
        </p>
    </div>
    <div class="row">
        <p class="col-sm-2">Phone:</p>
        <p class="col-sm-10">
            <%= order.userId.phone ? order.userId.phone : "-" %>
        </p>
    </div>

</div>
<!-- Displays all the information relating to the order -->
<div class="order-info pb-5">
    <h3>Order Info</h3>
    <div class="row">
        <p class="col-sm-2">Date:</p>
        <p class="col-sm-10">
            <%= order.date.toLocaleString("en-UK") %>
        </p>
    </div>
    <div class="row">
        <p class="col-sm-2">Address:</p>
        <p class="col-sm-10">
            <%= order.name %> <br>
            <%= order.address.line1 %> <br>
            <% if (order.address.line2) { %>
            <%= order.address.line2 %> <br>
            <% } %>
            <%= order.address.city %> <br>
            <%= order.address.postal_code %> <br>
            <%= order.address.country %>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <p>Products:</p>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <!-- Loops through all the products in the order and displays them -->
                <% for (let product of order.productIds) { %>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-5 align-center">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                <%= product.id.name %>
                            </h5>
                            <h6><b>£<%= product.id.price.toLocaleString("en", {minimumFractionDigits: 2, maximumFractionDigits: 2}) %></b>
                            </h6>
                            <p class="card-text">
                                <%= product.id.briefDescription %>
                            </p>
                            <p>Qty: <b>
                                    <%= product.qty %>
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="col-sm-2">Total:</p>
        <p class="col-sm-10">
            <%= order.total %>
        </p>
    </div>
    <!-- Creates a form where the user can edit the status of the order or add a tracking number -->
    <form action="/manageorders/updatestatus/<%= order.id %>?_method=PUT" method="POST">
        <div class="form-group row mb-3">
            <label for="status" class="col-form-label col-sm-2">Status:</label>
            <div class="col-sm-8">
                <select name="status" id="status" class="form-control">
                    <option value="1" <%=order.status===1 ? "selected" : "" %>>Not Started</option>
                    <option value="2" <%=order.status===2 ? "selected" : "" %>>Dispatched</option>
                </select>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-success form-control">Set</button>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="trackingNumber" class="col-form-label col-sm-2">Tracking Number:</label>
            <div class="col-sm-10">
                <input type="text" name="trackingNumber" id="trackingNumber" class="form-control"
                    placeholder="Tracking Number" value="<%= order.trackingNumber %>" required>
                <div class="invalid-feedback">
                    Please enter a tracking number
                </div>
            </div>
        </div>
    </form>
</div>