<%- include("../partials/head", {title: "Manage Product" }) %>
    <main class="container pt-3">
        <div class="d-flex justify-content-between">
            <a href="/manageorders/all" class="btn btn-danger mb-5">Return to Orders</a>
        </div>
        <h2 class="display-5">Order #<%= order.id %>
        </h2>
        <div class="user-info">
            <h3>Customer Info</h3>
            <div class="row">
                <p class="col-sm-2">Name:</p>
                <p class="col-sm-10">
                    <%= order.userId.name %>
                </p>
            </div>
            <div class="row">
                <p class="col-sm-2">Email:</p>
                <p class="col-sm-10">
                    <%= order.userId.email %>
                </p>
            </div>
            <div class="row">
                <p class="col-sm-2">Phone:</p>
                <p class="col-sm-10">
                    <%= order.userId.phone %>
                </p>
            </div>

        </div>
        <div class="order-info">
            <h3>Order Info</h3>
            <div class="row">
                <p class="col-sm-2">Date:</p>
                <p class="col-sm-10">
                    <%= order.date.toLocaleString("en-UK") %>
                </p>
            </div>
            <div class="row">
                <p class="col-sm-2">Address:</p>
                <p class="col-sm-10">
                    <%= order.address %>
                </p>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <p>Products:</p>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <% for (let product of order.productIds) { %>
                            <div class="col-lg-3 col-md-4 col-sm-6 mb-5 align-center">
                                <div class="card h-100">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">
                                            <%= product.id.name %>
                                        </h5>
                                        <h6><b>£<%= product.id.price %></b>
                                        </h6>
                                        <p class="card-text">
                                            <%= product.id.description %>
                                        </p>
                                        <p>Qty: <b>
                                                <%= product.qty %>
                                            </b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="col-sm-2">Total:</p>
                <p class="col-sm-10">
                    <%= order.total %>
                </p>
            </div>
            <form action="/manageorders/updatestatus/<%= order.id %>?_method=PUT" method="POST">
                <div class="form-group row mb-3">
                    <label for="status" class="col-form-label col-sm-2">Status:</label>
                    <div class="col-sm-8">
                        <select name="status" id="status" class="form-control">
                            <option value="1" <%=order.status===1 ? "selected" : "" %> >Not Started</option>
                            <option value="2" <%=order.status===2 ? "selected" : "" %>>Dispatched</option>
                            <option value="3" <%=order.status===3 ? "selected" : "" %>>Completed</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-success form-control">Set</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    </body>

    </html>