<% layout("layouts/boilerplate") %>
<div class="d-flex justify-content-between">
    <a href="/manageproducts/all" class="btn btn-danger mb-5">Return to Products</a>
</div>
<form action="/products/<%= product.id %>?_method=PATCH" method="POST" class="mb-3 needs-validation" novalidate>
    <div class="form-group row mb-3">
        <label for="name" class="col-form-label col-sm-2">Name:</label>
        <div class="col-sm-10">
            <input type="text" name="product[name]" id="name" class="form-control" placeholder="Name"
                value="<%= product.name %>" required>
            <div class="invalid-feedback">
                Please enter a name
            </div>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="price" class="col-form-label col-sm-2">Price:</label>
        <div class="col-sm-10">
            <input type="number" name="product[price]" id="price" step=0.01 class="form-control" placeholder="Price"
                value=<%=product.price %> required>
            <div class="invalid-feedback">
                Please enter a price
            </div>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="description" class="col-form-label col-sm-2">Description:</label>
        <div class="col-sm-10">
            <textarea name="product[description]" id="description" cols="30" rows="3"
                class="form-control"><%= product.description %></textarea>
        </div>
    </div>

    <p>Images Coming Soon!</p>

    <div class="form-group row mb-3">
        <label for="discount" class="form-check-label col-sm-2">Discount:</label>
        <div class="col-sm-10">
            <input type="checkbox" name="product[discount]" id="discount" class="form-check-input" <%=product.discount
                        ? "checked" : "" %>>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="discountedPrice" class="col-form-label col-sm-2">Discounted Price:</label>
        <div class="col-sm-10">
            <input type="number" name="product[discountedPrice]" id="discountedPrice" step=0.01 class="form-control"
                value="<%= product.discountedPrice %>">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="categories" class="col-form-label sol-sm-2">Categories:</label>
        <div class="col-sm-10">
            <select multiple name="product[categories]" id="categories" class="form-control">
                <% for (let category of categories) { %>
                <option value="<%= category.id %>" <%=product.categories.includes(category) ? "selected"
                                : "" %>>
                    <%= category.name %>
                </option>
                <% } %>
            </select>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="stock" class="col-form-label col-sm-2">Stock:</label>
        <div class="col-sm-10">
            <input type="number" name="product[stock]" id="stock" step=1 class="form-control" value=<%=product.stock %>
                required>
            <div class="invalid-feedback">
                Please enter the stock level
            </div>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="stock" class="col-form-label col-sm-2">Views:</label>
        <div class="col-sm-10">
            <%= product.views %>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="stock" class="col-form-label col-sm-2">Sales:</label>
        <div class="col-sm-10">
            <%= product.sales %>
        </div>
    </div>

    

    <button class="btn btn-primary form-control">Save Product</button>
</form>
<form action="/products/<%= product.id %>?_method=DELETE" method="POST" class="mb-5">
    <button class="btn btn-danger form-control">Delete Product</button>
</form>